<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">


<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<title>Admin panel</title>


<body style="background-color:#f9fafa">
<!--Верхняя навигация-->
<div class="container-fluid ">
    <dl class="row" style="background-color: #353a3f">
        <div class="col-11 text-left">
            <ul class="list-inline h5">
                <li class="list-inline-item text-white text-strong navbar-brand"
                    th:utext="${user.getEmail()}"></li>
                <li class="list-inline-item text-white navbar-brand">with roles:</li>
                <li class="list-inline-item text-white navbar-brand" th:utext="${user.rolesToString()}">
                    <strong></strong></li>
            </ul>
        </div>
        <div class="col-1 h6">
            <a class="navbar-brand text-white text-right" href="/logout">Logout</a>
        </div>
    </dl>
</div>
</nav>
<!--Верхняя навигация-->

<!--Тело страницы Юзер-->
<div class="container-fluid ">
    <div class="row">
        <!--Левая навигация-->
        <div class="col-2 text-left" style="background-color: #ffffff">
            <div class="row">
                <ul class="list-group">
                    <li class="list-group-item" aria-current="true">
                        <a class="navbar-brand text-blue text-right" href="/admin">Admin</a></li>
                    <li class="list-group-item active">
                        <a class="navbar-brand white text-right" href="/user">User</a></li>
                </ul>
            </div>

        </div>
        <!--Левая навигация-->

        <!--Таблица пользователей-->
        <div class="col-10" style="background-color: #f8f9fa">
            <div class="container-fluid">
                <h1>User information-page</h1>

                <table class="table table-striped">
                    <thead>
                    <h4>About user</h4>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Password</th>
                        <th scope="col">Roles</th>
                    </tr>
                    </thead>
                    <tbody>
                    <td th:text="${user.id}"></td>
                    <td th:text="${user.firstName}"></td>
                    <td th:text="${user.lastName}"></td>
                    <td th:text="${user.email}"></td>
                    <td th:text="${user.password}"></td>
                    <td th:text="${user.rolesToString()}"></td>
                    </tbody>
                </table>
            </div>

        </div>
        <!--Таблица пользователей-->
    </div>
</div>
<!--Тело страницы Юзер-->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
</body>
</html>